.joomla-logo {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  margin: 50px auto;
}
.joomla-logo span {
  display: inline-block;
  position: absolute;
}
.bull {
  width: 80px;
  height: 80px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  -o-border-radius: 80px;
  border-radius: 80px;
}
.green-bull {
  left: 0;
  top: 0;
  background-color: #7ac142;
}
.blue-bull {
  left: 0;
  bottom: 0;
  background-color: #4f91cd;
}
.red-bull {
  right: 0;
  bottom: 0;
  background-color: #ef3e35;
}
.orange-bull {
  right: 0;
  top: 0;
  background-color: #f9ae3f;
}
.rectangle {
  border-width: 30px;
  border-style: solid;
  width: 130px;
  height: 30px;
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
}
.green-rec {
  left: 30px;
  top: 80px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-color: #7ac142;
}
.blue-rec {
  left: 30px;
  bottom: 80px;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-color: #4f91cd;
}
.red-rec {
  right: 30px;
  bottom: 80px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-color: #ef3e35;
}
.orange-rec {
  right: 30px;
  top: 80px;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-color: #f9ae3f;
}
.middle {
  background-color: #f8f8f8;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  display: none!important;
}
