
//****************** Color
@red : #EF3E35;
@blue : #4F91CD;
@orange : #F9AE3F;
@green : #7AC142;
@bgLogo:  #f8f8f8;

//****************** Dimension
@wlogo: 300px;
@hlogo: @wlogo;

@wBull : 80px;
@hBull : @wBull;

@wRec : 110px;
@hRec : 50px;
@borderRec : 30px;

@wMiddle:100px;
@hMiddle:@wMiddle;
//****************** Mixin
.rad(@radius){
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}
.rotate(@rt){
	transform:rotate(@rt);
	-ms-transform:rotate(@rt);
	-webkit-transform:rotate(@rt);	
}
.joomla-logo{
	position: relative;
	width: @wlogo;
	height: @hlogo;
	border:1px solid #ddd;
	background-color: @bgLogo;
	margin: 50px auto;
	
	span{
		display: inline-block;
		position: absolute;
	}
}

//******************  Bulls
.bull{
	width: @wBull;
	height: @hBull;
	.rad(@wBull);
}
.green-bull{
	left: 0;
	top: 0;
	background-color: @green;
}
.blue-bull{
	left: 0;
	bottom: 0;
	background-color: @blue;
}
.red-bull{
	right: 0;
	bottom: 0;
	background-color: @red;
}
.orange-bull{
	right: 0;
	top: 0;
	background-color: @orange;
}

//****************** rectangle
.rectangle{
	border-width: @borderRec;
	border-style:  solid;
	width: @wRec;
	height: @hRec;
	.rad(500px);
}
.green-rec{
	left: @hRec - 10px;
	top: @wBull - 10px;
	.rotate(45deg);
	border-color: @green;
}
.blue-rec{
	left: @hRec - 10px;
	bottom: @wBull - 10px;
	.rotate(-45deg);
	border-color: @blue;
}
.red-rec{
	right:(@hRec - 10px);
	bottom: (@wBull - 10px);
	.rotate(45deg);
	border-color: @red;
}
.orange-rec{
	right: @hRec - 10px;
	top: @wBull - 10px;
	.rotate(-45deg);
	border-color: @orange;
}

//****************** Middle
.middle{
	background-color: @bgLogo;
	width: 112px;
	left: 94px;
	height: 112px;
	top: 94px;
	.rotate(45deg);
}


