body {
  font-family: 'Lato', sans-serif;
}
/****************** Color */
/****************** Dimension */
/****************** Mixin */
.joomla-logo {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 50px auto 0;
  box-sizing: border-box;
}
.joomla-logo span {
  display: inline-block;
  position: absolute;
}
/******************  Bulls */
.bull {
  width: 80px;
  height: 80px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  -o-border-radius: 80px;
  border-radius: 80px;
}
.green-bull {
  left: 0;
  top: 0;
  background-color: #7ac142;
}
.blue-bull {
  left: 0;
  bottom: 0;
  background-color: #4f91cd;
}
.red-bull {
  right: 0;
  bottom: 0;
  background-color: #ef3e35;
}
.orange-bull {
  right: 0;
  top: 0;
  background-color: #f9ae3f;
}
/****************** rectangle */
.rectangle {
  border-width: 30px;
  border-style: solid;
  width: 110px;
  height: 50px;
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
}
.green-rec {
  left: 40px;
  top: 70px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-color: #7ac142;
}
.blue-rec {
  left: 40px;
  bottom: 70px;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-color: #4f91cd;
}
.red-rec {
  right: 40px;
  bottom: 70px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-color: #ef3e35;
}
.orange-rec {
  right: 40px;
  top: 70px;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-color: #f9ae3f;
}
/****************** Middle */
.middle {
  position: absolute;
  background-color: #f8f8f8;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 95px;
  left: 95px;
  width: 110px;
  height: 110px;
}
.middle span {
  position: absolute;
}
.middle .green-mid {
  background-color: #7ac142;
  width: 80px;
  height: 30px;
  z-index: 10;
  top: 80px;
  left: -1px;
}
.middle .blue-mid {
  background-color: #4f91cd;
  width: 80px;
  height: 30px;
  z-index: 15;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  bottom: 24px;
  right: -25px;
}
.middle .red-mid {
  background-color: #ef3e35;
  width: 80px;
  height: 30px;
  z-index: 20;
  top: 0px;
  left: 31px;
}
.middle .orange-mid {
  background-color: #f9ae3f;
  width: 80px;
  height: 30px;
  z-index: 5;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  top: 24px;
  left: -25px;
}
p.logo {
  width: 435px;
  font-size: 110px;
  margin: auto;
  color: #141414;
  line-height: 1;
  padding-bottom: 30px;
  overflow: hidden;
}
p.logo sup {
  font-size: 12px;
  float: right;
  margin-top: 20px;
}
p.logo span {
  color: #95979A;
  font-size: 40px;
  float: right;
}
