
//****************** Color
@red: #EF3E35;
@blue: #4F91CD;
@orange: #F9AE3F;
@green: #7AC142;
@bgLogo:  #f8f8f8;

//****************** Dimension
@wlogo: 300px;
@hlogo: @wlogo;

@wBull: 80px;
@hBull: @wBull;

@wRec: 110px;
@hRec: 50px;
@borderRec: 30px;

@wMiddle: 112px;
@hMiddle: @wMiddle;
@SmallMiddleWidth: @wMiddle - @borderRec;
@SmallMiddleHeight: @borderRec;
//****************** Mixin
.rad(@radius){
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}
.rotate(@rt){
	transform:rotate(@rt);
	-ms-transform:rotate(@rt);
	-webkit-transform:rotate(@rt);	
}
.joomla-logo{
	position: relative;
	width: @wlogo;
	height: @hlogo;
	border:1px solid #ddd;
	background-color: @bgLogo;
	margin: 50px auto;
	box-sizing: border-box;
	
	span{
		display: inline-block;
		position: absolute;
	}
}

//******************  Bulls
.bull{
	width: @wBull;
	height: @hBull;
	.rad(@wBull);
}
.green-bull{
	left: 0;
	top: 0;
	background-color: @green;
}
.blue-bull{
	left: 0;
	bottom: 0;
	background-color: @blue;
}
.red-bull{
	right: 0;
	bottom: 0;
	background-color: @red;
}
.orange-bull{
	right: 0;
	top: 0;
	background-color: @orange;
}

//****************** rectangle
.rectangle{
	border-width: @borderRec;
	border-style:  solid;
	width: @wRec;
	height: @hRec;
	.rad(500px);
}
.green-rec{
	left: @hRec - 10px;
	top: @wBull - 10px;
	.rotate(45deg);
	border-color: @green;
}
.blue-rec{
	left: @hRec - 10px;
	bottom: @wBull - 10px;
	.rotate(-45deg);
	border-color: @blue;
}
.red-rec{
	right:(@hRec - 10px);
	bottom: (@wBull - 10px);
	.rotate(45deg);
	border-color: @red;
}
.orange-rec{
	right: @hRec - 10px;
	top: @wBull - 10px;
	.rotate(-45deg);
	border-color: @orange;
}

//****************** Middle
.middle{
	position: absolute;
	background-color: @bgLogo;
	.rotate(45deg);
	top: 93px;
	left: 93px;
	width: @wMiddle;
	height: @hMiddle;

	span{
		position: absolute;
	}
	.green-mid{
		background-color: @green;
		width: @SmallMiddleWidth;
		height: @SmallMiddleHeight;
		z-index: 10;
		top: 81px;
		left: -1px;
	}
	.blue-mid{
		background-color: @blue;
		width: @SmallMiddleWidth;
		height: @SmallMiddleHeight;
		z-index: 15;
		.rotate(90deg);
		bottom: 25px;
		right: -25px;
	}
	.red-mid{
		background-color: @red;
		width: @SmallMiddleWidth;
		height: @SmallMiddleHeight;
		z-index: 20;
		top: 1px;
		left: 31px;	
	}
	.orange-mid{
		background-color: @orange;
		width: @SmallMiddleWidth;
		height: @SmallMiddleHeight;
		z-index: 5;
		.rotate(90deg);
		top: 25px;
		left: -25px;
	}


}


